<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="outer">
        {% include header.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
      <script type="text/javascript" src="/assets/bundle.js" charset="utf-8"></script>
  </body>
</html>
