---
layout: default
---

<div class="home">
 <div class="top card">
    <a class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="description">{{ site.description }}</p>
    <a href="about" class="btn">Read More</a>
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">Posts</span>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
   </div>

</div>
